.portofolio {
    background: #1B2057 url('/imgs/porto-bg.jpg') no-repeat bottom center;
    background-size: 100% auto;
}

.latestNews {
    background: linear-gradient(180deg, #F2F2F2 0%, #CCC 100%);
}